Clarify IETF activity and protocol, and update text to reflect the current SLAAC behavior

6. MAC randomization-related activities at the IETF

This title is ambiguous (and Section 4 and 5 the same problem).   “at the IETF” sounds like at an IETF meeting and “activities” isn’t clear.  Protocols are not “activities”   This should be something like:

   MAC randomization in IETF Protocol Standards

The text in this section starts with:

Several IP address assignment mechanisms such as the IPv6 stateless autoconfiguration techniques (SLAAC) [RFC4862] generate the Interface Identifier (IID) of the address from its MAC address (via EUI64), which then becomes visible to all IPv6 communication peers. This potentially allows for global tracking of a device at L3 from any point on the Internet. Besides, the prefix part of the address provides meaningful insights of the physical location of the device in general, which together with the MAC address-based IID, makes it easier to perform global device tracking.¶

This is wrong and out dated.   RFC 8064 "Recommendation on Stable IPv6 Interface Identifiers” published in 2017 formally updated IPv6 IID selection to prefer RFC 7217 IIDs and recommends against embedding stable link-layer address in IPv6 IIDS.

This section needs a serious rewrite.

Have been removed in the newest version